<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>untitled</title>
<meta name="generator" content="Geany 1.32" />
</head>

<body>
<h1> first file in hbs!!! ready to work with dynamic content in express!!</h1>
</body>

</html>
